---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Tratamientos from "../components/Tratamientos.astro";
import Conoce from "../components/Conoce.astro";
import Testimonios from "../components/Testimonios.astro";
import Footer from "../components/Footer.astro";
import Modal from "../components/Modal.astro";
import ButtonUp from "../components/ButtonUp.astro";
---

<Layout
	title="Clínica Regenera | Kinesiología, Quiropraxia, Osteopatía y Medicina Ortopédica"
>
	<Navbar />
	<div class="scroll-container" id="scroll-container">
		<Hero />
		<Tratamientos />
		<Conoce />
		<Testimonios />
		<Footer />
		<Modal />
		<ButtonUp />
		<main></main>
	</div>
</Layout>

<style></style>
