---

---

<section class="servicios" id="tu-cita" aria-labelledby="servicios-heading">
  <h2 class="servicios__titulo">Bienvenido a Clínica Regenera</h2>
  <div class="servicios__contenedor servicios__contenedor--media">
    <div class="carousel__video media-card media-card--video">
      <img
        src="/assets/images/video-thumb.webp"
        loading="lazy"
        class="media-card__imagen"
        alt="Video de la Clínica"
        width="342"
        height="566"
      />
      <button class="carousel__play-button">▶</button>
      <video id="clinic-video" class="media-card__video hidden" controls>
        <source src="/video1.mp4" type="video/mp4" />
        Tu navegador no soporta la reproducción de videos.
      </video>
    </div>
    <div class="media-card media-card--image">
      <img
        src="/assets/images/clinica.webp"
        loading="lazy"
        class="media-card__imagen"
        alt="Imagen de la Clínica"
        width="876"
        height="566"
      />
    </div>
  </div>
  <div class="servicios__contenedor">
    <div class="servicio-card servicio-card--horizontal">
      <img
        src="/assets/images/foto.webp"
        loading="lazy"
        class="servicio-card__imagen"
        alt="Imagen de Cita"
        width="342"
        height="250"
      />
      <div class="servicio-card__contenido">
        <h3 class="servicio-card__titulo">Tu cita en Clínica Regenera</h3>
        <p class="servicio-card__descripcion">
          Buscamos tratar tu dolor de <b
            >manera natural, sin fármacos ni cirugías.</b
          >
          Con las terapias manuales como herramienta principal y un enfoque personalizado
          ajustado a tu estilo de vida, no solo aliviamos tu dolor, sino que también
          trabajamos en prevenir futuras molestias.
        </p>
      </div>
    </div>
  </div>
  <div
    class="servicio-card servicio-card--horizontal servicio-card--texto-primero"
  >
    <div class="servicio-card__contenido">
      <h3 class="servicio-card__titulo">
        Conoce al Director de Clínica Regenera
      </h3>
      <ul class="servicio-card__descripcion">
        <p>Mi nombre es Eduardo Osorio Shuffer</p>
        <li>Kinesiólogo egresado de la Universidad Viña del Mar, Chile.</li>
        <li>Osteópata de la Escuela de osteopatía de Ontario, Canadá.</li>
        <li>
          Diplomado en Osteopatía de la Academia Latinoamericana de Osteopatía
          (ALO) Chile.
        </li>
        <li>Certificado en Medicina Ortopédica Cyriax, del GCI Institute.</li>
      </ul>
    </div>
    <img
      src="/assets/images/foto2.webp"
      loading="lazy"
      class="servicio-card__imagen"
      alt="Imagen del Director"
      width="342"
      height="250"
    />
  </div>
</section>

<style>
  .carousel__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }

  .servicios {
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px
      ),
      radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 10px 10px;
    background-position:
      0 0,
      5px 5px;
  }

  .servicios__titulo {
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    padding-bottom: 1rem;
  }

  .servicios__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .servicios__contenedor--media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .media-card--video {
    position: relative;
    width: 342px; /* Ajustado a 342px */
    height: 566px; /* Ajustado a 566px */
    overflow: hidden;
    border-radius: 50px; /* Ajustado a 50px */
  }

  .media-card--image {
    width: 876px; /* Ajustado a 876px */
    height: 566px; /* Ajustado a 566px */
    border-radius: 50px; /* Ajustado a 50px */
  }

  .media-card__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    display: block;
    opacity: 1; /* Asegura que el video esté visible cuando no esté oculto */
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  .media-card__video.hidden {
    display: none; /* Controla la visibilidad del video */
  }

  .media-card__video.active {
    opacity: 1;
    z-index: 10; /* Forzar que esté encima de todo cuando se reproduce */
  }

  .media-card__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px; /* Asegura que la imagen respete el radio de borde */
  }

  .hidden {
    display: none;
  }

  .servicio-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease,
      border-color 0.3s ease,
      color 0.3s ease;
    border: 2px solid transparent;
  }

  .servicio-card--horizontal {
    flex-direction: row;
  }

  .servicio-card:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #3db7b0;
  }

  .servicio-card:hover .servicio-card__contenido,
  .servicio-card:hover .servicio-card__titulo,
  .servicio-card:hover .servicio-card__descripcion {
    color: #3db7b0;
  }

  .servicio-card__imagen {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .servicio-card__contenido {
    width: 100%;
    padding: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }

  .servicio-card__titulo {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.1rem;
    letter-spacing: -0.06em;
    color: #333;
    margin-bottom: 1rem;
  }

  .servicio-card__descripcion {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: -0.06em;
    color: #666;
    margin-bottom: 1rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 1024px) {
    .servicio-card--horizontal {
      flex-direction: column;
    }

    .servicio-card__imagen {
      width: 100%;
      height: 250px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }

    .servicio-card__titulo {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    .servicio-card__descripcion {
      font-size: 0.9rem;
      line-height: 1.1rem;
    }

    .media-card--video,
    .media-card--image {
      width: 100%;
      height: auto;
    }

    .media-card__imagen {
      max-height: 566px;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .servicios__contenedor--media {
      flex-direction: column;
      gap: 0;
    }

    .media-card {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .servicio-card--horizontal {
      flex-direction: column;
    }

    .servicio-card__imagen {
      width: 100%;
      height: 200px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }

    .servicio-card__titulo {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .servicio-card__descripcion {
      font-size: 0.85rem;
      line-height: 1rem;
    }

    .media-card__imagen {
      height: auto;
      max-height: 566px;
    }
  }

  @media (max-width: 480px) {
    .servicios__contenedor--media {
      flex-direction: column;
    }

    .media-card {
      width: 100%;
      height: auto;
    }

    .servicio-card--horizontal {
      flex-direction: column;
    }

    .servicio-card__imagen {
      width: 100%;
      height: 150px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }

    .servicio-card__titulo {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    .servicio-card__descripcion {
      font-size: 0.75rem;
      line-height: 0.9rem;
    }

    .media-card__imagen {
      height: auto;
      max-height: 566px;
    }

    .media-card--image {
      display: none;
    }
  }
</style>
