<section class="servicios" id="tu-cita" aria-labelledby="servicios-heading">
  <h2 class="servicios__titulo">Bienvenido a Clínica Regenera</h2>
  <div class="servicios__contenedor servicios__contenedor--media">
    <div class="media-card media-card--video">
      <img
        src="/assets/images/video-thumb.webp"
        loading="lazy"
        class="media-card__imagen"
        alt="Video de la Clínica"
      />
      <button class="carousel__play-button">▶</button>
      <video
        id="clinic-video"
        class="media-card__video"
        controls
        style="display: none;"
      >
        <source src="/video1.mp4" type="video/mp4" />
        Tu navegador no soporta la reproducción de videos.
      </video>
    </div>
    <div class="media-card media-card--image">
      <img
        src="/assets/images/clinica.webp"
        loading="lazy"
        class="media-card__imagen"
        alt="Imagen de la Clínica"
      />
    </div>
  </div>
  <div class="servicios__contenedor">
    <div class="servicio-card servicio-card--horizontal">
      <img
        src="/assets/images/foto.webp"
        loading="lazy"
        class="servicio-card__imagen"
        alt="Imagen de Cita"
      />
      <div class="servicio-card__contenido">
        <h3 class="servicio-card__titulo">Tu cita en Clínica Regenera</h3>
        <p class="servicio-card__descripcion">
          Buscamos tratar tu dolor de <b
            >manera natural, sin fármacos ni cirugías.</b
          >
          Con las terapias manuales como herramienta principal y un enfoque personalizado
          ajustado a tu estilo de vida, no solo aliviamos tu dolor, sino que también
          trabajamos en prevenir futuras molestias. Además, te indicamos suplementos
          de vitaminas o minerales en conjunto con ejercicios específicos para mejorar
          determinadas condiciones de salud.
        </p>
      </div>
    </div>
  </div>
  <div
    class="servicio-card servicio-card--horizontal servicio-card--texto-primero"
  >
    <div class="servicio-card__contenido">
      <h3 class="servicio-card__titulo">
        Conoce al Director de Clínica Regenera
      </h3>
      <ul class="servicio-card__descripcion">
        <p>Mi nombre es Eduardo Osorio Shuffer</p>
        <li>Kinesiólogo egresado de la Universidad Viña del Mar, Chile.</li>
        <li>Osteópata de la Escuela de osteopatía de Ontario, Canadá.</li>
        <li>
          Diplomado en Osteopatía de la Academia Latinoamericana de Osteopatía
          (ALO) Chile.
        </li>
        <li>Certificado en Medicina Ortopédica Cyriax, del GCI Institute.</li>
      </ul>
    </div>
    <img
      src="/assets/images/foto2.webp"
      loading="lazy"
      class="servicio-card__imagen"
      alt="Imagen del Director"
    />
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const playButton = document.querySelector(
        ".carousel__play-button"
      ) as HTMLButtonElement;
      const video = document.getElementById("clinic-video") as HTMLVideoElement;
      const thumbnail = document.querySelector(
        ".media-card__imagen"
      ) as HTMLImageElement;

      if (playButton && video && thumbnail) {
        playButton.addEventListener("click", function () {
          // Ocultar la imagen de fondo y el botón
          thumbnail.style.display = "none";
          playButton.style.display = "none";

          // Mostrar y reproducir el video
          video.style.display = "block";
          video.play();
        });
      }
    });
  </script>
</section>

<style>
  .carousel__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .servicios {
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px
      ),
      radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 10px 10px;
    background-position:
      0 0,
      5px 5px;
  }

  .servicios__titulo {
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    padding-bottom: 1rem;
  }

  .servicios__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .servicios__contenedor--alinear-derecha {
    justify-content: center;
  }

  .servicios__contenedor--media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .media-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
  }

  .media-card__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    position: absolute; /* Asegura que ocupe todo el contenedor */
    top: 0;
    left: 0;
  }

  .media-card--video {
    position: relative; /* Necesario para el posicionamiento absoluto del video */
    width: 342px;
    height: 566px;
    overflow: hidden; /* Asegura que no haya desbordamiento */
    border-radius: 15px;
  }

  .media-card--image {
    width: 876px;
    height: 566px;
  }

  .media-card__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .servicio-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease,
      border-color 0.3s ease,
      color 0.3s ease;
    border: 2px solid transparent;
  }

  .servicio-card--horizontal {
    flex-direction: row;
  }

  .servicio-card:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #3db7b0;
  }

  .servicio-card:hover .servicio-card__contenido,
  .servicio-card:hover .servicio-card__titulo,
  .servicio-card:hover .servicio-card__descripcion {
    color: #3db7b0;
  }

  .servicio-card__imagen {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .servicio-card__contenido {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 2rem; /* Espaciado interno para mayor claridad */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word; /* Permite que el texto se ajuste al contenedor */
    box-sizing: border-box; /* Asegura que padding no cause desbordamiento */
  }

  .servicio-card__titulo {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.1rem;
    letter-spacing: -0.06em;
    color: #333;
    margin-bottom: 1rem;
  }

  .servicio-card__descripcion {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: -0.06em;
    color: #666;
    margin-bottom: 1rem;
    word-wrap: break-word; /* Asegura que el texto se mantenga dentro del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto se corta */
  }

  @media (max-width: 1024px) {
    .servicio-card--horizontal {
      flex-direction: column;
    }

    .servicio-card__imagen {
      width: 100%;
      height: 250px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }

    .servicio-card__titulo {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    .servicio-card__descripcion {
      font-size: 0.9rem;
      line-height: 1.1rem;
    }

    .media-card--video,
    .media-card--image {
      width: 100%;
      height: auto;
    }

    .media-card__imagen {
      max-height: 566px;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .servicios__contenedor--media {
      flex-direction: column;
      gap: 0;
    }

    .media-card {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .servicio-card--horizontal {
      flex-direction: column;
    }

    .servicio-card__imagen {
      width: 100%;
      height: 200px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }

    .servicio-card__titulo {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .servicio-card__descripcion {
      font-size: 0.85rem;
      line-height: 1rem;
    }

    .media-card__imagen {
      height: auto;
      max-height: 566px;
    }
  }

  @media (max-width: 480px) {
    .servicios__contenedor--media {
      flex-direction: column;
    }

    .media-card {
      width: 100%;
      height: auto;
    }

    .servicio-card--horizontal {
      flex-direction: column;
    }

    .servicio-card__imagen {
      width: 100%;
      height: 150px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
    }

    .servicio-card__titulo {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    .servicio-card__descripcion {
      font-size: 0.75rem;
      line-height: 0.9rem;
    }

    .media-card__imagen {
      height: auto;
      max-height: 566px;
    }
  }
</style>
