---
import { Image } from "astro:assets";
import logoBlanco from "/public/assets/images/logo-blanco.webp";
import fondoImage from "/public/assets/images/banner.png";
---

<section class="hero" aria-labelledby="hero-heading">
  <div class="hero__content">
    <div class="hero__image">
      <Image
        src={logoBlanco}
        width={250}
        height={237}
        alt="Logotipo de Clínica Regenera"
        class="hero__logo"
        loading="eager"
        format="webp"
      />
    </div>
    <div class="hero__texts">
      <h1 id="hero-heading">
        Vive una vida <span class="text-gradient">sin dolor</span>
      </h1>
      <p class="hero__instructions">
        Kinesiología, Quiropraxia, Osteopatía y Medicina Ortopédica.
      </p>
    </div>
    <div class="hero__buttons">
      <button
        class="btn btn-primary"
        id="openModalButton"
        aria-label="Reservar hora">Reservar hora</button
      >
      <button
        class="btn btn-secondary"
        onclick="window.location.href='#tu-cita'"
        aria-label="Conoce más">Conoce más</button
      >
    </div>
  </div>
  <div class="hero__banner">
    <Image
      src={fondoImage}
      alt="Banner de tratamiento en Clínica Regenera"
      class="banner-image"
      width={800}
      height={800}
      loading="eager"
      format="png"
    />
  </div>
</section>

<style>
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(27, 81, 78, 0.8) 0%,
      rgba(61, 183, 176, 0.8) 100%
    );
  }

  .hero__content {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .hero__banner {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .banner-image {
    height: 100%;
    width: auto;
    max-width: none;
    object-fit: contain;
  }

  .hero__image img {
    display: block;
    margin-bottom: 10px;
  }

  .hero__texts h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.06em;
    margin: 0;
  }

  .hero__instructions {
    font-weight: 400;
    font-size: 31px;
    line-height: 37.2px;
    letter-spacing: -0.06em;
    margin-top: 1rem;
  }

  .hero__buttons {
    text-align: center;
    margin-top: 20px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.4s ease;
    margin: 10px 0.5rem;
    cursor: pointer;
    width: 231px;
    height: 57px;
    background-color: transparent;
    color: white;
  }

  .btn-primary,
  .btn-secondary {
    border: 2px solid rgba(255, 255, 255, 0.3);
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary:active {
    border-color: #3db7b0;
    color: #3db7b0;
  }

  .text-gradient {
    background-image: linear-gradient(45deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @media (max-width: 1200px) {
    .hero__texts h1 {
      font-size: 50px;
      line-height: 60px;
    }

    .hero__instructions {
      font-size: 26px;
      line-height: 32px;
    }

    .btn {
      width: 200px;
      height: 50px;
    }
  }

  @media (max-width: 1024px) {
    .hero {
      flex-direction: column;
      height: 100vh;
      padding-top: 60px;
      background:
        linear-gradient(
          90deg,
          rgba(27, 81, 78, 0.8) 0%,
          rgba(61, 183, 176, 0.8) 100%
        ),
        url("../assets/images/banner.png") no-repeat center center;
      background-size: cover;
    }

    .hero__content {
      width: 100%;
      flex: 1;
    }

    .hero__banner {
      display: none;
    }

    .hero__image img {
      width: 75%;
      max-width: 300px;
      height: auto;
      margin: 0 auto;
    }

    .hero__texts h1 {
      font-size: 40px;
      line-height: 48px;
    }

    .hero__instructions {
      font-size: 22px;
      line-height: 28px;
    }

    .btn {
      width: 180px;
      height: 45px;
    }
  }

  @media (max-width: 768px) {
    .hero {
      height: 100vh;
      padding-top: 40px;
    }

    .hero__image img {
      width: 75%;
      max-width: 250px;
      height: auto;
      margin: 0 auto;
    }

    .hero__texts h1 {
      font-size: 32px;
      line-height: 38px;
    }

    .hero__instructions {
      font-size: 18px;
      line-height: 24px;
    }

    .btn {
      width: 160px;
      height: 40px;
    }
  }

  @media (max-width: 480px) {
    .hero {
      height: 100vh;
      padding-top: 20px;
    }

    .hero__image img {
      width: 75%;
      max-width: 200px;
      height: auto;
      margin: 0 auto;
    }

    .hero__texts h1 {
      font-size: 28px;
      line-height: 34px;
    }

    .hero__instructions {
      font-size: 16px;
      line-height: 20px;
    }

    .btn {
      width: 160px;
      height: 40px;
    }
  }
</style>
