---
---

<section class="tratamientos" id="tratamientos" aria-labelledby="tratamientos-heading">
  <h2 class="tratamientos__titulo" id="tratamientos-heading">Tratamientos</h2>
  <div class="tratamientos__lista">
    <div class="tratamientos__item">
      <div class="tratamientos__icono">
        <img src="/assets/images/Quiropraxia.webp" class="tratamientos__imagen" alt="Quiropraxia" />
      </div>
      <div class="tratamientos__contenido">
        <h3 class="tratamientos__nombre">Quiropraxia</h3>
        <p class="tratamientos__descripcion">Restablece el funcionamiento del sistema nervioso de nuestros usuarios.</p>
      </div>
    </div>
    <div class="tratamientos__item">
      <div class="tratamientos__icono">
        <img src="/assets/images/Osteopatia.webp" class="tratamientos__imagen" alt="Osteopatía" />
      </div>
      <div class="tratamientos__contenido">
        <h3 class="tratamientos__nombre">Osteopatía</h3>
        <p class="tratamientos__descripcion">A través de manipulaciones osteopáticas, buscamos devolver la movilidad normal de estas.</p>
      </div>
    </div>
    <div class="tratamientos__item">
      <div class="tratamientos__icono">
        <img src="/assets/images/Medicina ortopedica.webp" class="tratamientos__imagen" alt="Medicina Ortopédica" />
      </div>
      <div class="tratamientos__contenido">
        <h3 class="tratamientos__nombre">Medicina Ortopédica</h3>
        <p class="tratamientos__descripcion">Buscamos corregir disfunciones desde el punto de vista ortopédico.</p>
      </div>
    </div>
    <div class="tratamientos__item">
      <div class="tratamientos__icono">
        <img src="/assets/images/Suplementacion.webp" class="tratamientos__imagen" alt="Suplementación" />
      </div>
      <div class="tratamientos__contenido">
        <h3 class="tratamientos__nombre">Suplementación</h3>
        <p class="tratamientos__descripcion">Buscamos guiar a nuestros pacientes en el uso adecuado de suplementos.</p>
      </div>
    </div>
    <div class="tratamientos__item">
      <div class="tratamientos__icono">
        <img src="/assets/images/Biohacking.webp" class="tratamientos__imagen" alt="Biohacking y Hormesis" />
      </div>
      <div class="tratamientos__contenido">
        <h3 class="tratamientos__nombre">Biohacking y Hormesis</h3>
        <p class="tratamientos__descripcion">Buscamos la homeostasis (equilibrio) fisiológica y metabólica.</p>
      </div>
    </div>
    <div class="tratamientos__item">
      <div class="tratamientos__icono">
        <img src="/assets/images/Kinesiologia.webp" class="tratamientos__imagen" alt="Kinesiología" />
      </div>
      <div class="tratamientos__contenido">
        <h3 class="tratamientos__nombre">Kinesiología</h3>
        <p class="tratamientos__descripcion">Buscamos restablecer la funcionalidad y la calidad de vida de nuestros pacientes.</p>
      </div>
    </div>
  </div>
</section>
  
<style>
.tratamientos {
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: #f1f9f9;
  padding: 3rem 1.5rem;
}

.tratamientos__titulo {
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}

.tratamientos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tratamientos__item {
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  border: 2px solid transparent;
}

.tratamientos__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #3DB7B0;
  color: #3DB7B0;
}

.tratamientos__item:hover .tratamientos__nombre,
.tratamientos__item:hover .tratamientos__descripcion {
  color: #3DB7B0;
}

.tratamientos__icono {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.tratamientos__imagen {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tratamientos__nombre {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.tratamientos__descripcion {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .tratamientos__item {
    flex-direction: column;
    text-align: center;
  }

  .tratamientos__icono {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
</style> 