---
import { Image } from "astro:assets";
import imgQuiropraxia from "/public/assets/images/Quiropraxia.webp";
import imgSuplementacion from "/public/assets/images/Suplementacion.webp";
import imgOsteopatia from "/public/assets/images/Osteopatia.webp";
import imgMedicina from "/public/assets/images/Medicina_ortopedica.webp";
import imgBiohacking from "/public/assets/images/Biohacking.webp";
import imgKinesiologia from "/public/assets/images/Kinesiologia.webp";
import imgDeepLearning from "/public/assets/images/DeepLearning.webp";

const tratamientos = [
  {
    imagen: imgQuiropraxia,
    nombre: "Quiropraxia",
    descripcion:
      "Restablece el funcionamiento del sistema nervioso de nuestros usuarios.",
  },
  {
    imagen: imgSuplementacion,
    nombre: "Suplementación",
    descripcion:
      "Buscamos guiar a nuestros pacientes en el uso adecuado de suplementos.",
  },
  {
    imagen: imgOsteopatia,
    nombre: "Osteopatía",
    descripcion:
      "A través de manipulaciones osteopáticas buscamos devolver la movilidad normal de estas.",
  },
  {
    imagen: imgMedicina,
    nombre: "Medicina Ortopédica",
    descripcion:
      "Buscamos corregir disfunciones desde el punto de vista ortopédico.",
  },
  {
    imagen: imgBiohacking,
    nombre: "Biohacking y Hormesis",
    descripcion:
      "Buscamos la homeostasis (equilibrio) fisiológica y metabólica.",
  },
  {
    imagen: imgKinesiologia,
    nombre: "Kinesiología",
    descripcion:
      "Buscamos restablecer la funcionalidad y la calidad de vida de nuestros pacientes.",
  },
  {
    imagen: imgDeepLearning,
    nombre: "Deep Learning",
    descripcion:
      "La educación en salud es fundamental y es considerada un tratamiento de primera línea en nuestros pacientes.",
  },
];
---

<section
  class="tratamientos"
  id="tratamientos"
  aria-labelledby="tratamientos-heading"
>
  <h2 class="tratamientos__titulo" id="tratamientos-heading">Tratamientos</h2>
  <div class="tratamientos__lista">
    {
      tratamientos.map((tratamiento) => (
        <div class="tratamientos__item">
          <div class="tratamientos__icono">
            <Image
              src={tratamiento.imagen}
              class="tratamientos__imagen"
              alt={tratamiento.nombre}
              width={252}
              height={143}
              loading="lazy"
              format="webp"
              quality={80}
            />
          </div>
          <h3 class="tratamientos__nombre">{tratamiento.nombre}</h3>
          <p class="tratamientos__descripcion">{tratamiento.descripcion}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .tratamientos {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: #f1f9f9;
    padding: 3rem 1.5rem;
  }

  .tratamientos__titulo {
    font-size: 2.5rem;
    text-align: center;
    color: #333;
  }

  .tratamientos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tratamientos__item {
    flex-basis: calc(25% - 2rem);
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease,
      border-color 0.3s ease,
      color 0.3s ease;
    border: 2px solid transparent;
  }

  .tratamientos__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #3db7b0;
    color: #3db7b0;
  }

  .tratamientos__item:hover .tratamientos__nombre,
  .tratamientos__item:hover .tratamientos__descripcion {
    color: #3db7b0;
  }

  .tratamientos__icono {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }

  .tratamientos__imagen {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    object-fit: cover;
  }

  .tratamientos__nombre {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .tratamientos__descripcion {
    font-size: 1rem;
    color: #666;
  }

  @media (max-width: 768px) {
    .tratamientos__lista {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Asegura dos columnas */
      grid-gap: 1rem; /* Espacio entre los elementos */
    }

    .tratamientos__item {
      flex-basis: 100%;
      max-width: 100%;
    }

    .tratamientos__icono {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
</style>
