---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-CL">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Método Regenera: Fomenta la regeneración celular adaptada a cada persona, reduciendo el estrés, mejorando el sistema inmunológico, el sueño y aliviando dolores de cuello, cabeza y espalda.">
		<meta name="keywords" content="Kinesiología, Quiropraxia, Osteopatía, Medicina Ortopédica, Talca, Clínica Regenera,Regenera, Método Regenera, Regeneración celular, Regeneración, Estrés, Sistema inmunológico, Sueño, Dolores de cuello, Dolores de cabeza, Dolores de espalda">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#3DB7B0">
		<meta name="robots" content="index, follow">
  		<meta name="googlebot" content="index, follow">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@clinicaregenera">
		<meta name="twitter:creator" content="@eduardosorio">
		<meta name="twitter:title" content="Clínica Regenera | Kinesiología, Quiropraxia, Osteopatía y Medicina Ortopédica">
		<meta name="twitter:description" content="Ofrecemos tratamientos de Kinesiología, Quiropraxia, Osteopatía y Medicina Ortopédica en Talca, Maule. Reserva tu cita y vive una vida sin dolor.">
		<meta name="twitter:image" content="https://www.clinicaregenera.cl/assets/images/logo.webp">
		<meta property="og:image" content="https://www.clinicaregenera.cl/assets/images/logo.webp">
		<meta property="og:title" content="Clínica Regenera | Kinesiología, Quiropraxia, Osteopatía y Medicina Ortopédica">
		<meta property="og:description" content="Ofrecemos tratamientos de Kinesiología, Quiropraxia, Osteopatía y Medicina Ortopédica en Talca, Maule. Reserva tu cita y vive una vida sin dolor.">
		<meta property="og:url" content="https://www.clinicaregenera.cl/">
		<meta property="og:site_name" content="Clínica Regenera">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="es_CL">
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<link rel="canonical" href="https://www.clinicaregenera.cl/">
		<meta name="generator" content={Astro.generator} />
		<meta name="astro-view-transitions-enabled" content="true">
		<meta name="astro-view-transitions-fallback" content="animate">
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "LocalBusiness",
			  "name": "Clínica Regenera",
			  "image": "/assets/images/logo.webp",
			  "address": {
				"@type": "PostalAddress",
				"streetAddress": "Calle 30 Ote. 1420, Oficina 620",
				"addressLocality": "Talca",
				"addressRegion": "Maule",
				"postalCode": "3460000",
				"addressCountry": "CL"
			  },
			  "telephone": "+56 9 5464 3631",
			  "review": [
				{
				  "@type": "Review",
				  "author": "Fidel Soto",
				  "reviewBody": "Saliendo de Clínica Regenera me siento renovado, con energía, ¡ME SIENTO POWER!",
				  "reviewRating": {
					"@type": "Rating",
					"ratingValue": "5"
				  }
				},
				{
				  "@type": "Review",
				  "author": "Claudia Cifuentes",
				  "reviewBody": "Sufría de dolores lumbares y cervicales por mi trabajo, pero después de mi primera sesión con Eduardo, los dolores disminuyeron significativamente. ¡Gracias por el cariño y la buena onda!",
				  "reviewRating": {
					"@type": "Rating",
					"ratingValue": "5"
				  }
				}
			  ]
			}
		</script>
	</head>
	<body>
		<slot />
		<script>
			document.addEventListener('DOMContentLoaded', () => {
			  const navbarToggler = document.getElementById('navbarToggler');
			  const navbarMenu = document.getElementById('navbarMenu');
		  
			  navbarToggler.addEventListener('click', () => {
				navbarMenu.classList.toggle('show');
			  });
			});
		</script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
			  const smoothScrollLinks = document.querySelectorAll('.smooth-scroll');
		  
			  smoothScrollLinks.forEach(link => {
				link.addEventListener('click', function (event) {
				  event.preventDefault();
				  const targetId = this.getAttribute('href').substring(1);
				  const targetElement = document.getElementById(targetId);
				  if (targetElement) {
					const scrollContainer = document.getElementById('scroll-container');
					scrollContainer.scrollTo({
					  top: targetElement.offsetTop,
					  behavior: 'smooth'
					});
				  }
				});
			  });
			});
		  </script>
		  <script>
			document.addEventListener('DOMContentLoaded', () => {
			  const openModalButton = document.getElementById('openModalButton');
			  const modal = document.getElementById('modal');
			
			  const showModal = () => {
				modal.style.display = 'flex';
			  };
			
			  openModalButton.addEventListener('click', showModal);
			});
		  </script>
		  <script>
			document.addEventListener('DOMContentLoaded', () => {
				const carouselItems = document.querySelectorAll('.carousel__item');
				let currentIndex = 0;

				document.getElementById('nextTestimonio').addEventListener('click', (event) => {
					event.preventDefault();
					carouselItems[currentIndex].classList.remove('carousel__item--active');
					currentIndex = (currentIndex + 1) % carouselItems.length;
					carouselItems[currentIndex].classList.add('carousel__item--active');
				});
			});
		  </script>
		  <script>
			document.addEventListener('DOMContentLoaded', () => {
			  const modal = document.getElementById('modal');
			  const closeModalButton = document.getElementById('closeModal');
			  const scrollContainer = document.querySelector('.scroll-container');
			  let lastScrollTime = 0;
  
			  const showModal = () => {
				modal.style.display = 'flex';
			  };
  
			  const hideModal = () => {
				modal.style.display = 'none';
			  };
  
			  const checkScroll = () => {
				const now = Date.now();
				if ((scrollContainer.scrollTop + scrollContainer.clientHeight) >= scrollContainer.scrollHeight && now - lastScrollTime > 2000) {
				  showModal();
				  lastScrollTime = now;
				}
			  };
  
			  closeModalButton.addEventListener('click', hideModal);
			  scrollContainer.addEventListener('scroll', checkScroll);
			});
		  </script>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html, body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	}

	.scroll-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;/
	scrollbar-width: none;
	}

	.scroll-container::-webkit-scrollbar {
	display: none;
	}
</style>